.navbar-blue {
  background-color: #3E7CBF;
  border-color: #2D69A9;
}
.navbar-blue .navbar-brand {
  color: #ffffff;
}
.navbar-blue .navbar-brand:hover,
.navbar-blue .navbar-brand:focus {
  color: #ffffff;
  background-color: #2D69A9;
}
.navbar-blue .navbar-text {
  color: #ffffff;
}
.navbar-blue .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-blue .navbar-nav > li > a:hover,
.navbar-blue .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #2D69A9;
}
.navbar-blue .navbar-nav > .active > a,
.navbar-blue .navbar-nav > .active > a:hover,
.navbar-blue .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #2D69A9;
}
.navbar-blue .navbar-nav > .disabled > a,
.navbar-blue .navbar-nav > .disabled > a:hover,
.navbar-blue .navbar-nav > .disabled > a:focus {
  color: #eeeeee;
  background-color: #2D69A9;
}
.navbar-blue .navbar-toggle {
  border-color: #eeeeee;
}
.navbar-blue .navbar-toggle:hover,
.navbar-blue .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-blue .navbar-toggle .icon-bar {
  background-color: #999999;
}
.navbar-blue .navbar-collapse,
.navbar-blue .navbar-form {
  border-color: #e7e7e7;
}
.navbar-blue .navbar-nav > .open > a,
.navbar-blue .navbar-nav > .open > a:hover,
.navbar-blue .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-blue .navbar-nav .open .dropdown-menu > li > a {
    color: #999999;
  }
  .navbar-blue .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-blue .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-blue .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-blue .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-blue .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-blue .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-blue .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-blue .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #eeeeee;
    background-color: transparent;
  }
}
.navbar-blue .navbar-link {
  color: #999999;
}
.navbar-blue .navbar-link:hover {
  color: #ffffff;
}
.navbar-blue .btn-link {
  color: #999999;
}
.navbar-blue .btn-link:hover,
.navbar-blue .btn-link:focus {
  color: #ffffff;
}
.navbar-blue .btn-link[disabled]:hover,
fieldset[disabled] .navbar-blue .btn-link:hover,
.navbar-blue .btn-link[disabled]:focus,
fieldset[disabled] .navbar-blue .btn-link:focus {
  color: #eeeeee;
}

#datasetList {
  cursor: pointer;
}